services:
  db:
    container_name: postgres_db
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dockeruser
      POSTGRES_PASSWORD: dockerpass
      POSTGRES_DB: dockerdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dockeruser -d dockerdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: go_app
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: dockeruser
      DB_PASSWORD: dockerpass
      DB_NAME: dockerdb
      PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
